@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);


.cat-tree-image{
  height: 150px;
}

.header{
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  background: url("../images/header-back.jpg")center;
  height: 180px;
  line-height: 180px;
  color: white;
  text-align: right;
}

.productRow{
  border-bottom: solid 2px #cccccc;
  margin: 10px 0;
}

.productImage{
  margin: 5px 0;
}

sidebar{
 height: 100%;
}
