<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Crazy Cat Lady Hut</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/catlogo.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <script src="js/jquery-2.2.2.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slides.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/app.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="catTrees">
    <div class="container">
      <div class="header col-xs-12">
        Crazy Cat Lady Hut
      </div>
    </div>

    <div class="container">
      <sidebar class="col-sm-2 sideNav">
        <nav layout="vertical" class="navbar">
          <div class="navbar-header col-xs-12">
            <button type="button" class="navbar-toggle collapsed" id="navButton"
            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand cata visible-xs-inline-block" href="#">Menu</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills nav-stacked">
              <li class="category" ng-click="showHome = !showHome; showTrees=false;
                 showShelf = false; showCondo = false; showGrumpy = false;
                 showhelloKitty = false; showNecklace = false; showBracelet = false;
                 showClock = false;">
                 <a href="#Home">Home</a>
               </li>
              <li class="category" ng-click="showHome = true; showTrees = true;
                 showShelf = false; showCondo = false; showGrumpy = false;
                 showhelloKitty = false; showNecklace = false; showBracelet = false;
                 showClock = false;">
                 <a href="#catTrees">Cat Trees</a>
               </li>
              <li class="category" ng-click="showHome = true; showTrees = false;
                 showShelf = true; showCondo = false; showGrumpy = false;
                 showhelloKitty = false; showNecklace = false; showBracelet = false;
                 showClock = false;">
                 <a href="#catShelf">Cat Shelves</a>
              </li>
              <li class="category" ng-click="showHome = true; showTrees = false;
                 showShelf = false; showCondo = true; showGrumpy = false;
                 showhelloKitty = false; showNecklace = false; showBracelet = false;
                 showClock = false;">
                 <a href="#catCondos">Cat Condos</a>
               </li>
               <li class="category" ng-click="showHome = true; showTrees = false;
                  showShelf = false; showCondo = false; showGrumpy = true;
                  showhelloKitty = false; showNecklace = false; showBracelet = false;
                  showClock = false;">
                  <a href="#grumpyCat">Grumpy Cat</a>
                </li>
               <li class="category" ng-click="showHome = true; showTrees = false;
                   showShelf = false; showCondo = false; showGrumpy = false;
                   showhelloKitty = true; showNecklace = false; showBracelet = false;
                   showClock = false;">
                   <a href="#helloKitty">Hello Kitty</a>
               </li>
               <li class="category" ng-click="showHome = true; showTrees = false;
                   showShelf = false; showCondo = false; showGrumpy = false;
                   showhelloKitty = false; showNecklace = true; showBracelet = false;
                   showClock = false;">
                   <a href="#catNecklaces">Cat Necklaces</a>
               </li>
               <li class="category" ng-click="showHome = true; showTrees = false;
                   showShelf = false; showCondo = false; showGrumpy = false;
                   showhelloKitty = false; showNecklace = false; showBracelet = true;
                   showClock = false;">
                   <a href="#catBraclets">Cat Bracelets</a>
               </li>
               <li class="category" ng-click="showHome = true; showTrees = false;
                   showShelf = false; showCondo = false; showGrumpy = false;
                   showhelloKitty = false; showNecklace = false; showBracelet = false;
                   showClock = true;">
                   <a href="#catClocks">Cat Clocks</a>
               </li>
            </ul>
          </div>
        </nav>
      </sidebar>

      <div class="col-sm-10">
        <div ng-hide="showHome">
          <div id="slides" class="col-sm-8 col-sm-offset-2">
            <a href="#catTrees" ng-click="showHome = true; showTrees = !showTrees;" >
               <img class="img-responsive" src="images/silk-multi-level.jpg">
            </a>
            <a href="#catCondos" ng-click="showHome = true;  showCondo = !showCondo;" >
                <img class="img-responsive" src="images/cat-mouse-house.jpg">
            </a>
            <a href="#catTrees" ng-click="showHome = true; showTrees = !showTrees;" >
              <img class="img-responsive" src="images/purple-passion.jpg">
            </a>
            <a href="#catCondos" ng-click="showHome = true; showCondo = !showCondo;" >
              <img class="img-responsive" src="images/cat-castle.jpg">
            </a>


          </div>
        </div>
      </div>

      <div class="col-sm-10">
        <div ng-show="showTrees" ng-repeat="catTree in catTowers">
          <div class="row productRow">
            <div class="col-md-3">
              <img class="cat-tree-image productImage" src={{catTree.image}} />
            </div>
            <div class="col-md-6">
              <h4>{{catTree.title}}</h4>
              <p class="col-md-12">{{catTree.description}}</p>
            </div>
            <div class="col-md-3 buttonInfo">
              <a class="btn btn-primary moreInfo" href="{{catTree.link}}" target="_blank">More Info</a>
            </div>
          </div>
        </div>

      <div ng-show="showShelf" ng-repeat="catShelf in catShelfs">
        <div class="row productRow">
          <div class="col-md-3">
            <img class="cat-tree-image productImage" src={{catShelf.image}} />
          </div>
          <div class="col-md-6">
            <h4>{{catShelf.title}}</h4>
            <p class="col-md-12">{{catShelf.description}}</p>
          </div>
          <div class="col-md-3 buttonInfo">
            <a class="btn btn-primary moreInfo" href="{{catShelf.link}}" target="_blank">More Info</a>
          </div>
        </div>
      </div>

      <div ng-show="showCondo" ng-repeat="catCondo in catCondos">
        <div class="row productRow">
          <div class="col-md-3">
            <img class="cat-tree-image productImage" src={{catCondo.image}} />
          </div>
          <div class="col-md-6">
            <h4>{{catCondo.title}}</h4>
            <p class="col-md-12">{{catCondo.description}}</p>
          </div>
          <div class="col-md-3 buttonInfo">
            <a class="btn btn-primary moreInfo" href="{{catCondo.link}}" target="_blank">More Info</a>
          </div>
        </div>
      </div>

      <div ng-show="showGrumpy" ng-repeat="grumpyCat in grumpyCats">
        <div class="row productRow">
          <div class="col-md-3">
            <img class="cat-tree-image productImage" src={{grumpyCat.image}} />
          </div>
          <div class="col-md-6">
            <h4>{{grumpyCat.title}}</h4>
            <p class="col-md-12">{{grumpyCat.description}}</p>
          </div>
          <div class="col-md-3 buttonInfo">
            <a class="btn btn-primary moreInfo" href="{{grumpyCat.link}}" target="_blank">More Info</a>
          </div>
        </div>
      </div>

      <div ng-show="showhelloKitty" ng-repeat="helloKitty in helloKittys">
        <div class="row productRow">
          <div class="col-md-3">
            <img class="cat-tree-image productImage" src={{helloKitty.image}} />
          </div>
          <div class="col-md-6">
            <h4>{{helloKitty.title}}</h4>
            <p class="col-md-12">{{helloKitty.description}}</p>
          </div>
          <div class="col-md-3 buttonInfo">
            <a class="btn btn-primary moreInfo" href="{{helloKitty.link}}" target="_blank">More Info</a>
          </div>
        </div>
      </div>

      <div ng-show="showNecklace" ng-repeat="catNecklace in catNecklaces">
        <div class="row productRow">
          <div class="col-md-3">
            <img class="cat-tree-image productImage" src={{catNecklace.image}} />
          </div>
          <div class="col-md-6">
            <h4>{{catNecklace.title}}</h4>
            <p class="col-md-12">{{catNecklace.description}}</p>
          </div>
          <div class="col-md-3 buttonInfo">
            <a class="btn btn-primary moreInfo" href="{{catNecklace.link}}" target="_blank">More Info</a>
          </div>
        </div>
      </div>

      <div ng-show="showBracelet" ng-repeat="catBracelet in catBracelets">
        <div class="row productRow">
          <div class="col-md-3">
            <img class="cat-tree-image productImage" src={{catBracelet.image}} />
          </div>
          <div class="col-md-6">
            <h4>{{catBracelet.title}}</h4>
            <p class="col-md-12">{{catBracelet.description}}</p>
          </div>
          <div class="col-md-3 buttonInfo">
            <a class="btn btn-primary moreInfo" href="{{catBracelet.link}}" target="_blank">More Info</a>
          </div>
        </div>
      </div>

      <div ng-show="showClock" ng-repeat="catClock in catClocks">
        <div class="row productRow">
          <div class="col-md-3">
            <img class="cat-tree-image productImage" src={{catClock.image}} />
          </div>
          <div class="col-md-6">
            <h4>{{catClock.title}}</h4>
            <p class="col-md-12">{{catClock.description}}</p>
          </div>
          <div class="col-md-3 buttonInfo">
            <a class="btn btn-primary moreInfo" href="{{catClock.link}}" target="_blank">More Info</a>
          </div>
        </div>
      </div>


    </div>

    <footer class="col-xs-12 text-center">
      Copyright &#169; CrazyCatLadyHut.com 2016
    </footer>
  </div>
  </body>
</html>
